<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.burakgalisa.android.remembertodothem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ChoreActivity"
            android:targetActivity=".ChoreActivity">

        </activity>
        <activity android:name=".ChoreListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ChorePagerActivity"
                  android:parentActivityName=".ChoreListActivity"
            android:label="@string/app_name">

        </activity>

    </application>

</manifest>
